<h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold">
  Github Issues | Angular
</h1>

<div class="my-5 border-b-2 border-blue-600" aria-hidden="true"></div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
  <section class="lg:col-span-3">
    <h2 class="sr-only">Filter buttons</h2>
    <ul class="flex gap-2">
      <li class="flex-grow lg:flex-grow-0">
        <button
          type="button"
          class="btn w-full lg:w-auto"
          [class.active]="selectedState === 'all'"
          (click)="setSelectedState('all')"
          [disabled]="issuesQuery.isLoading() || labelsQuery.isLoading()"
        >
          All
        </button>
      </li>
      <li class="flex-grow lg:flex-grow-0">
        <button
          type="button"
          class="btn w-full lg:w-auto"
          [class.active]="selectedState === 'open'"
          (click)="setSelectedState('open')"
          [disabled]="issuesQuery.isLoading() || labelsQuery.isLoading()"
        >
          Open
        </button>
      </li>
      <li class="flex-grow lg:flex-grow-0">
        <button
          type="button"
          class="btn w-full lg:w-auto"
          [class.active]="selectedState === 'closed'"
          (click)="setSelectedState('closed')"
          [disabled]="issuesQuery.isLoading() || labelsQuery.isLoading()"
        >
          Closed
        </button>
      </li>
    </ul>
  </section>

  <section class="lg:col-span-2">
    <h2 class="sr-only">Issues</h2>
    @if (issuesQuery.isLoading()) {<!--  -->
    <div role="status" aria-busy="true" aria-label="loading issues">
      @for (_ of '123456789'; track $index) {
      <issue-item-skeleton />
      }
    </div>
    } @else {
    <ul>
      @for (issue of issuesQuery.data(); track issue.id) {
      <li>
        <issue-item [issue]="issue" />
      </li>
      } @empty {
      <li role="status">There are no results for your search.</li>
      }
    </ul>
    }
  </section>

  <section class="row-[2/3] lg:row-auto">
    <h2 class="sr-only">Labels</h2>
    @if (labelsQuery.isLoading()) {
    <issue-label-selector-skeleton />
    } @else {
    <issue-label-selector [labels]="labelsQuery.data() ?? []" />
    }
  </section>
</div>
